In [45]:
## 비교 데이터 셋 만들기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [46]:
file_path = r'C:\Users\KDP-14\Desktop\VSCode\KDT6\기업 프로젝트\Dataset\바웰공정데이터(2차데이터).csv'
data = pd.read_csv(file_path)

In [47]:
data['scale_pv'].value_counts().sort_values(ascending=False)

0.00      192978
3.04        5352
3.05        5141
3.03        4792
3.06        4007
           ...
9.18           2
0.85           1
655.04         1
2.00           1
3.28           1
Name: scale_pv, Length: 127, dtype: int64

In [48]:
## 설정값 날려주기
data.drop(columns=['E_scr_pv','E_scr_sv','c_temp_sv','k_rpm_sv','n_temp_sv','s_temp_sv'],inplace=True)

In [49]:
# k_rpm 실제값 = 0 & 40 지움
data = data.drop(data[(data['k_rpm_pv'] == 0) | (data['k_rpm_pv'] == 40)].index)

In [50]:
data.reset_index(inplace=True)
data.drop(columns='index',inplace=True)

In [51]:
data

,time,c_temp_pv,k_rpm_pv,n_temp_pv,scale_pv,s_temp_pv
0,2023-05-18T15:09:19.018900Z,69.6,189,67.2,3.01,67.1
1,2023-05-18T15:09:20.128150Z,69.8,189,67.2,3.01,67.0
2,2023-05-18T15:12:38.819460Z,69.7,189,67.9,3.08,65.9
3,2023-05-18T15:12:39.958188Z,69.7,189,67.8,3.08,65.9
4,2023-05-18T15:12:41.050178Z,69.7,189,67.8,3.08,65.9
...,...,...,...,...,...,...
232072,2023-10-16T09:34:11.790922Z,69.7,191,67.6,0.00,67.3
232073,2023-10-16T09:34:12.837701Z,69.8,191,67.5,0.00,67.0
232074,2023-10-16T09:34:13.915681Z,69.7,191,67.4,0.00,66.8
232075,2023-10-16T09:34:14.978068Z,69.7,191,67.3,0.00,66.7
232076,2023-10-16T09:34:16.040468Z,69.8,191,67.2,0.00,66.6

In [52]:
def change_scale(dataDF, x, y):
    # scale_pv가 x와 y 사이인 값은 유지, 그렇지 않은 값은 0으로 설정
    dataDF['scale_pv'] = dataDF['scale_pv'].apply(lambda value:
                                                  value if float(x) <= value <= float(y) else 0)
    return dataDF

In [53]:
change_scale(data,2.7,3.3)

,time,c_temp_pv,k_rpm_pv,n_temp_pv,scale_pv,s_temp_pv
0,2023-05-18T15:09:19.018900Z,69.6,189,67.2,3.01,67.1
1,2023-05-18T15:09:20.128150Z,69.8,189,67.2,3.01,67.0
2,2023-05-18T15:12:38.819460Z,69.7,189,67.9,3.08,65.9
3,2023-05-18T15:12:39.958188Z,69.7,189,67.8,3.08,65.9
4,2023-05-18T15:12:41.050178Z,69.7,189,67.8,3.08,65.9
...,...,...,...,...,...,...
232072,2023-10-16T09:34:11.790922Z,69.7,191,67.6,0.00,67.3
232073,2023-10-16T09:34:12.837701Z,69.8,191,67.5,0.00,67.0
232074,2023-10-16T09:34:13.915681Z,69.7,191,67.4,0.00,66.8
232075,2023-10-16T09:34:14.978068Z,69.7,191,67.3,0.00,66.7
232076,2023-10-16T09:34:16.040468Z,69.8,191,67.2,0.00,66.6

In [54]:
data['scale_pv'].value_counts()

0.00    193468
3.04      5352
3.05      5141
3.03      4791
3.06      4007
3.02      3895
3.07      3043
3.01      2799
3.08      2074
3.00      1691
3.09      1293
2.99      1114
3.10       653
2.98       642
3.11       401
2.97       346
3.12       217
2.96       158
2.95       134
3.13       128
3.15       118
3.14        98
3.16        49
3.17        47
2.94        43
2.91        32
3.20        32
2.93        32
3.19        30
2.89        21
3.18        21
2.92        20
3.22        17
2.90        16
3.21        15
2.76        15
3.25        12
2.77        10
3.29         9
3.27         9
2.82         7
3.23         7
2.85         7
2.74         7
2.75         7
2.88         6
2.86         5
2.78         4
2.87         4
2.83         4
2.80         4
2.73         4
2.72         4
3.24         3
2.71         2
3.26         2
2.79         2
2.81         2
2.84         2
3.28         1
Name: scale_pv, dtype: int64

In [55]:
data['scale_pv'] = data['scale_pv'].apply(lambda value:
                                                  3.11 if value == 0 else value)

In [56]:
data['scale_pv'].value_counts()

3.11    193869
3.04      5352
3.05      5141
3.03      4791
3.06      4007
3.02      3895
3.07      3043
3.01      2799
3.08      2074
3.00      1691
3.09      1293
2.99      1114
3.10       653
2.98       642
2.97       346
3.12       217
2.96       158
2.95       134
3.13       128
3.15       118
3.14        98
3.16        49
3.17        47
2.94        43
2.91        32
3.20        32
2.93        32
3.19        30
2.89        21
3.18        21
2.92        20
3.22        17
2.90        16
3.21        15
2.76        15
3.25        12
2.77        10
3.29         9
3.27         9
2.82         7
3.23         7
2.85         7
2.74         7
2.75         7
2.88         6
2.86         5
2.78         4
2.87         4
2.83         4
2.80         4
2.73         4
2.72         4
3.24         3
2.71         2
3.26         2
2.79         2
2.81         2
2.84         2
3.28         1
Name: scale_pv, dtype: int64

In [57]:
# loss 컬럼 만들기
data['loss'] = abs(data['scale_pv'] - 3)

In [58]:
# quality 컬럼 만들기
data['quality'] = data['scale_pv'].apply(
    lambda x: 'A' if 2.9 <= x <= 3.1 else ('B' if 2.8 <= x <= 3.2 else 'C'))

In [59]:
data['datetime_type']= pd.to_datetime(data['time'])
data['date_only'] = data['datetime_type'].dt.date

In [60]:
data

,time,c_temp_pv,k_rpm_pv,n_temp_pv,scale_pv,s_temp_pv,loss,quality,datetime_type,date_only
0,2023-05-18T15:09:19.018900Z,69.6,189,67.2,3.01,67.1,0.01,A,2023-05-18 15:09:19.018900+00:00,2023-05-18
1,2023-05-18T15:09:20.128150Z,69.8,189,67.2,3.01,67.0,0.01,A,2023-05-18 15:09:20.128150+00:00,2023-05-18
2,2023-05-18T15:12:38.819460Z,69.7,189,67.9,3.08,65.9,0.08,A,2023-05-18 15:12:38.819460+00:00,2023-05-18
3,2023-05-18T15:12:39.958188Z,69.7,189,67.8,3.08,65.9,0.08,A,2023-05-18 15:12:39.958188+00:00,2023-05-18
4,2023-05-18T15:12:41.050178Z,69.7,189,67.8,3.08,65.9,0.08,A,2023-05-18 15:12:41.050178+00:00,2023-05-18
...,...,...,...,...,...,...,...,...,...,...
232072,2023-10-16T09:34:11.790922Z,69.7,191,67.6,3.11,67.3,0.11,B,2023-10-16 09:34:11.790922+00:00,2023-10-16
232073,2023-10-16T09:34:12.837701Z,69.8,191,67.5,3.11,67.0,0.11,B,2023-10-16 09:34:12.837701+00:00,2023-10-16
232074,2023-10-16T09:34:13.915681Z,69.7,191,67.4,3.11,66.8,0.11,B,2023-10-16 09:34:13.915681+00:00,2023-10-16
232075,2023-10-16T09:34:14.978068Z,69.7,191,67.3,3.11,66.7,0.11,B,2023-10-16 09:34:14.978068+00:00,2023-10-16
232076,2023-10-16T09:34:16.040468Z,69.8,191,67.2,3.11,66.6,0.11,B,2023-10-16 09:34:16.040468+00:00,2023-10-16

In [63]:
# 'time','datetime_type' 컬럼 없애주기
dataDF = data.drop(columns=['time','datetime_type'])

In [64]:
dataDF

,c_temp_pv,k_rpm_pv,n_temp_pv,scale_pv,s_temp_pv,loss,quality,date_only
0,69.6,189,67.2,3.01,67.1,0.01,A,2023-05-18
1,69.8,189,67.2,3.01,67.0,0.01,A,2023-05-18
2,69.7,189,67.9,3.08,65.9,0.08,A,2023-05-18
3,69.7,189,67.8,3.08,65.9,0.08,A,2023-05-18
4,69.7,189,67.8,3.08,65.9,0.08,A,2023-05-18
...,...,...,...,...,...,...,...,...
232072,69.7,191,67.6,3.11,67.3,0.11,B,2023-10-16
232073,69.8,191,67.5,3.11,67.0,0.11,B,2023-10-16
232074,69.7,191,67.4,3.11,66.8,0.11,B,2023-10-16
232075,69.7,191,67.3,3.11,66.7,0.11,B,2023-10-16
232076,69.8,191,67.2,3.11,66.6,0.11,B,2023-10-16

In [68]:
dataDF.to_csv('AI_전_데이터.csv')