In [2]:
## 비교 데이터 셋 만들기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
file_path = r'C:\Users\KDP-14\Desktop\VSCode\KDT6\기업 프로젝트\Dataset\비교_data\total_refill_RF_time_1126.csv'
data = pd.read_csv(file_path)

In [5]:
data

,time,c_temp_pv,k_rpm_pv,n_temp_pv,scale_pv,s_temp_pv,Day
0,2023-05-18T15:09:19.018900Z,69.6,189,67.2,3.010000,67.1,2023-05-18
1,2023-05-18T15:09:20.128150Z,69.8,189,67.2,3.010000,67.0,2023-05-18
2,2023-05-18T15:12:38.819460Z,69.7,189,67.9,3.080000,65.9,2023-05-18
3,2023-05-18T15:12:39.958188Z,69.7,189,67.8,3.080000,65.9,2023-05-18
4,2023-05-18T15:12:41.050178Z,69.7,189,67.8,3.080000,65.9,2023-05-18
...,...,...,...,...,...,...,...
232070,2023-10-16T09:34:11.790922Z,69.7,191,67.6,3.037833,67.3,2023-10-16
232071,2023-10-16T09:34:12.837701Z,69.8,191,67.5,3.073500,67.0,2023-10-16
232072,2023-10-16T09:34:13.915681Z,69.7,191,67.4,3.031850,66.8,2023-10-16
232073,2023-10-16T09:34:14.978068Z,69.7,191,67.3,3.041250,66.7,2023-10-16
232074,2023-10-16T09:34:16.040468Z,69.8,191,67.2,3.062740,66.6,2023-10-16

In [6]:
# loss 컬럼 만들기
data['loss'] = abs(data['scale_pv'] - 3)

In [7]:
# quality 컬럼 만들기
data['quality'] = data['scale_pv'].apply(
    lambda x: 'A' if 2.9 <= x <= 3.1 else ('B' if 2.8 <= x <= 3.2 else 'C'))

In [8]:
data['datetime_type']= pd.to_datetime(data['time'])
data['date_only'] = data['datetime_type'].dt.date

In [9]:
data

,time,c_temp_pv,k_rpm_pv,n_temp_pv,scale_pv,s_temp_pv,Day,loss,quality,datetime_type,date_only
0,2023-05-18T15:09:19.018900Z,69.6,189,67.2,3.010000,67.1,2023-05-18,0.010000,A,2023-05-18 15:09:19.018900+00:00,2023-05-18
1,2023-05-18T15:09:20.128150Z,69.8,189,67.2,3.010000,67.0,2023-05-18,0.010000,A,2023-05-18 15:09:20.128150+00:00,2023-05-18
2,2023-05-18T15:12:38.819460Z,69.7,189,67.9,3.080000,65.9,2023-05-18,0.080000,A,2023-05-18 15:12:38.819460+00:00,2023-05-18
3,2023-05-18T15:12:39.958188Z,69.7,189,67.8,3.080000,65.9,2023-05-18,0.080000,A,2023-05-18 15:12:39.958188+00:00,2023-05-18
4,2023-05-18T15:12:41.050178Z,69.7,189,67.8,3.080000,65.9,2023-05-18,0.080000,A,2023-05-18 15:12:41.050178+00:00,2023-05-18
...,...,...,...,...,...,...,...,...,...,...,...
232070,2023-10-16T09:34:11.790922Z,69.7,191,67.6,3.037833,67.3,2023-10-16,0.037833,A,2023-10-16 09:34:11.790922+00:00,2023-10-16
232071,2023-10-16T09:34:12.837701Z,69.8,191,67.5,3.073500,67.0,2023-10-16,0.073500,A,2023-10-16 09:34:12.837701+00:00,2023-10-16
232072,2023-10-16T09:34:13.915681Z,69.7,191,67.4,3.031850,66.8,2023-10-16,0.031850,A,2023-10-16 09:34:13.915681+00:00,2023-10-16
232073,2023-10-16T09:34:14.978068Z,69.7,191,67.3,3.041250,66.7,2023-10-16,0.041250,A,2023-10-16 09:34:14.978068+00:00,2023-10-16
232074,2023-10-16T09:34:16.040468Z,69.8,191,67.2,3.062740,66.6,2023-10-16,0.062740,A,2023-10-16 09:34:16.040468+00:00,2023-10-16

In [12]:
# 'time','datetime_type' 컬럼 없애주기
dataDF = data.drop(columns=['time','datetime_type','Day'])

In [13]:
dataDF

,c_temp_pv,k_rpm_pv,n_temp_pv,scale_pv,s_temp_pv,loss,quality,date_only
0,69.6,189,67.2,3.010000,67.1,0.010000,A,2023-05-18
1,69.8,189,67.2,3.010000,67.0,0.010000,A,2023-05-18
2,69.7,189,67.9,3.080000,65.9,0.080000,A,2023-05-18
3,69.7,189,67.8,3.080000,65.9,0.080000,A,2023-05-18
4,69.7,189,67.8,3.080000,65.9,0.080000,A,2023-05-18
...,...,...,...,...,...,...,...,...
232070,69.7,191,67.6,3.037833,67.3,0.037833,A,2023-10-16
232071,69.8,191,67.5,3.073500,67.0,0.073500,A,2023-10-16
232072,69.7,191,67.4,3.031850,66.8,0.031850,A,2023-10-16
232073,69.7,191,67.3,3.041250,66.7,0.041250,A,2023-10-16
232074,69.8,191,67.2,3.062740,66.6,0.062740,A,2023-10-16

In [14]:
dataDF.to_csv('AI_후_데이터.csv')